body
{
    font-family: sans-serif;
    line-height: 1.7;
}
.bg-belize
{
    background-color: #2980b9;
}
.bg-cloud
{
    background-color: #ecf0f1;
}
.space
{
    padding-top: 5%;
    padding-bottom: 5%;
}
.con-icon
{
    padding-left: 5%;
}
.con-icon:hover
{
    text-decoration: none;
}
#contact
{
    padding-top: 5%;
    padding-bottom: 0px;
}